<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="form-login.component.css">
</head>

<body>

  <main class="container-fluid h-100">

		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<header>
                        <h1 id="letraTitulos" class="my-4">AppCash</h1>
					</header>
					<div class="card">
						<div class="card-body p-5">
							<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
								<header id="letraTitulos" class="fs-4 card-title fw-bold mb-4">Inicia sesión en tu cuenta</header>
								<div class="mb-3">
									<label id="letraComun" class="mb-2 text-muted" for="email">Correo electrónico</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									<div class="invalid-feedback">
										Email incorrecto
									</div>
								</div>
								<div class="mb-3">
									<label id="letraComun" class="mb-2 w-100 text-muted" for="password">Contraseña</label>
									<input id="password" type="password" class="form-control" name="password" required>
									<div class="invalid-feedback">
										Ingresar Password
									</div>
								</div>
								<label>
                  <!--Ruteo a forgot pass por si no se recuerda la contraseña-->
									<a [routerLink]="['/forgot-pass']" routerLinkActive="active" id="letraCeleste" id=celeste  class="float-end">
										<p>¿No recuerdas la contraseña?</p>
									</a>
								</label>

								<div class="d-grid gap-2">
									<button type="button" class="btn btn-lg btn-primary" disabled>Continuar</button>
								  </div>
									<!--div class="form-check">
										<input type="checkbox" name="remember" id="remember" class="form-check-input">
										<label for="remember" class="form-check-label">Recordarme</label>
									</div-->
							</form>
						</div>
					</div>
					<footer id="link-registrarse">
						<div class="text-center">
							¿No tienes cuenta? <a href=" " id = letraCeleste > Creá tu cuenta</a>
						</div>
					</footer>
				</div>
			</div>
		</div>

	</main>

  <footer id="letraComun" class="text-center mt-5 text-muted footer">
		Copyright &copy; 2021 &mdash; AppCash
	</footer>

  <script src="js/login.js"></script>
</body>
